<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">



<!-- mybatis配置根标签 -->
<configuration>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="helperDialect" value="mysql"/>
            <property name="reasonable" value="true"/>
            <property name="supportMethodsArguments" value="true"/>
            <property name="param1" value="value1"/>
        </plugin>
    </plugins>


    <mappers>
        <!-- HeroDao接口的映射文件-把需要执行的CRUD在下面的配置文件中定义 -->
<!--        <mapper resource="com/dzh/dao/HeroDao.xml"/>-->
                <mapper resource="mapper/UserMapper.xml"/>
    </mappers>
</configuration>
