<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mybatis配置根标签 -->
<configuration>
    <mappers>
        <!-- HeroDao接口的映射文件-把需要执行的CRUD在下面的配置文件中定义 -->
<!--        <mapper resource="com/dzh/dao/HeroDao.xml"/>-->
                <mapper resource="mapper/UserMapper.xml"/>
    </mappers>
</configuration>
